@font-face {
  font-family: 'Pretendard';
  src: url('/assets/PretendardVariable-CJuje-Rk.woff2') format('woff2');
  font-weight: 100 900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: 'Pretendard';
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


